.video-section {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 10px;
}

.video-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    border-radius: 10px;

}

video {
    width: 100%;
    height: 80vh;

}


.play-pause-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(252, 7, 7, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    outline: none;
    display: none;
}

.video-container:hover .play-pause-btn {
    display: flex;
}

.section-6 .video-section h1{
    color: white;
    position: absolute;
    top: 30%;
    left: 27%;
    
}
.section-6 .video-section h1 span{
    color: orange;
}
